<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Bank Transactions</title>
  <meta name="description" content="callback template">
  <meta name="author" content="XeroAPI">
</head>

<body>
  <h1>xero-node-oauth2-app</h1>
  <p>Read all BankTransactions - count: <%= bankTransactionsCount %></p>
  <p>Create BankTransaction - ID : <%= createID %></p>
  <p>Read one BankTransaction - status : <%= getOneStatus %></p>
  <p>Updated BankTransaction - status : <%= updatedStatus %></p>
  <%- include('shared/nav') -%>
</body>
</html>