<!doctype html>
<html>
  <%- include('shared/head') -%>
  <body>
    <%- include('shared/nav') -%>
    <div class='core-content'>
      <%- include('shared/header') -%>
      <div class='body-wrapper'>
        <div class='body-content'>
          <a href='https://developer.xero.com/documentation/api/bank-transfers' target='_blank'>
            <h4>Bank Transfers</h4>
          </a>
          <p><strong>Total Bank Tranfers Count:</strong> (<%= allBankTransfers.length %>) </p>
          <p><strong>Created Bank Tranfer:</strong> <%= createBankTransferId %></p>
          <p><strong>Get Bank Tranfer:</strong> <%= getBankTransferId %></p>
        </div>
      </div>
    </div>
  </body>
</html>
