<!doctype html>
<html>
  <%- include('shared/head') -%>
  <body>
    <%- include('shared/nav') -%>
    <div class='core-content'>
      <%- include('shared/header') -%>
      <div class='body-wrapper'>
        <div class='body-content'>
          <a href='https://developer.xero.com/documentation/api/batch-payments' target='_blank'>
            <h4>Batch Payments</h4>
          </a>
          <p><strong>Created Batch Payments:</strong> <%= createBatchPayment %></p>
          <p><strong>Total Batch Payments:</strong> <%= count %></p>
        </div>
      </div>
    </div>
  </body>
</html>
