<!doctype html>
<html>
<%- include('shared/head') -%>

<body>
  <%- include('shared/nav') -%>
  <div class='core-content'>
    <%- include('shared/header') -%>
    <div class='body-wrapper'>
      <div class='body-content'>
        <a href='https://developer.xero.com/documentation/api/branding-themes' target='_blank'>
          <h4>Branding Themes</h4>
        </a>
        <p>Branding Themes success: Count: <%= brandingThemesCount %></p>
        <p>Branding Themes success: Get Branding Theme: <%= brandingTheme %></p>
        <p>Branding Themes success: Create Branding Theme Payment Service: <%= createBrandingThemePaymentService %></p>
        <p>Branding Themes success: Get Branding Theme Payment Service: <%= getBrandingThemePaymentService %></p>
      </div>
    </div>
  </div>
</body>

</html>