<!doctype html>
<html>
  <%- include('shared/head') -%>
  <body>
    <%- include('shared/nav') -%>
    <div class='core-content'>
      <%- include('shared/header') -%>
      <div class='body-wrapper'>
        <div class='body-content'>
          <p><strong>createdContactGroup: </strong><%= createdContactGroup %></p>
          <p><strong>getContactGroup: </strong><%= getContactGroup %></p>
          <p><strong>updatedContactGroup: </strong><%= updatedContactGroup %></p>
          <p><strong>deletedContactGroupContact: </strong><%= deletedContactGroupContact %></p>
          <p><strong>Created Contact</strong> <%= createdContactGroup %></p>
        </div>
      </div>
    </div>
  </body>
</html>
