<!doctype html>
<html>
  <%- include('shared/head') -%>
  <body>
    <%- include('shared/nav') -%>
    <div class='core-content'>
      <%- include('shared/header') -%>
      <div class='body-wrapper'>
        <div class='body-content'>
            <a href='https://developer.xero.com/documentation/api/contacts' target='_blank'>
              <h4>https://developer.xero.com/documentation/api/contacts</h4>
            </a>
            <p><strong>Read all Contacts - count:</strong> <%= contactsCount %></p>
            <p><strong>Create Contact - name :</strong> <%= createName %></p>
            <p><strong>Read one Contact - name :</strong> <%= getOneName %></p>
            <p><strong>Updated Contact :</strong> <%= JSON.stringify(updatedContact, null, 2).replace(/[{}]/g, '') %></p>
        </div>
      </div>
    </div>
  </body>
</html>
