<!doctype html>
<html>
  <%- include('shared/head') -%>
  <body>
    <%- include('shared/nav') -%>
    <div class='core-content'>
      <%- include('shared/header') -%>
      <div class='body-wrapper'>
        <div class='body-content'>
          <p><strong>createdContactGroupID: </strong><%= createdContactGroupID %></p>
          <p><strong>getContactGroupName: </strong><%= getContactGroupName %></p>
          <p><strong>updatedContactGroupContactID: </strong><%= updatedContactGroupContactID %></p>
          <p><strong>deletedContactGroupContact: </strong><%= deletedContactGroupContact %></p>
          <p><strong>Total Contact Groups count: </strong> <%= count %></p>
        </div>
      </div>
    </div>
  </body>
</html>
