<!doctype html>
<html>
<%- include('shared/head') -%>

<body>
  <%- include('shared/nav') -%>
  <div class='core-content'>
    <%- include('shared/header') -%>
    <div class='body-wrapper'>
      <div class='body-content'>
        <h4>Currencies:</h4>
        <% for(var i=0; i < currencies.length; i++) { %>
        <p><i><%= currencies[i].code %></i> - <%= currencies[i].description %></p>
        <% } %>
      </div>
    </div>
  </div>
</body>
</html>
