<!doctype html>
<html>
  <%- include('shared/head') -%>
  <body>
    <%- include('shared/nav') -%>
    <div class='core-content'>
      <%- include('shared/header') -%>
      <div class='body-wrapper'>
        <div class='body-content'>
          <p>Employees success: Count: <%= count %></p>
          <p>createdEmployeeId: <%= createdEmployeeId %></p>
          <p>getEmployeeName: <%= getEmployeeName %></p>
          <p>updatedEmployeeId: <%= updatedEmployeeId %></p>
        </div>
      </div>
    </div>
  </body>
</html>
