<!doctype html>
<html>
  <%- include('shared/head') -%>
  <body>
    <%- include('shared/nav') -%>
    <div class='core-content'>
      <%- include('shared/header') -%>
      <div class='body-wrapper'>
        <div class='body-content'>
          <p><strong>Read all Items - count:</strong> <%= itemsCount %></p>
          <p><strong>Create Item - name :</strong> <%= createName %></p>
          <p><strong>Read one Item - name :</strong> <%= getOneName %></p>
          <p><strong>Updated Item - name :</strong> <%= updateName %></p>
          <p><strong>Deleted Item - response code :</strong> <%= deleteResponse %></p>
        </div>
      </div>
    </div>
  </body>
</html>
