<!doctype html>
<html>
  <%- include('shared/head') -%>
  <body>
    <%- include('shared/nav') -%>
    <div class='core-content'>
      <%- include('shared/header') -%>
      <div class='body-wrapper'>
        <div class='body-content'>
          <p>Journals: <%=  %></p>
          <% for(var i=0; i < journals.length; i++) { %>
            <p><i><%= JSON.stringify(journals[i]) %></i></p>
          <% } %>
          <p>Journal by number:</p>
          <p><%= JSON.stringify(journal, null, 2) %></p>
        </div>
      </div>
    </div>
  </body>
</html>
