<!doctype html>
<html>
<%- include('shared/head') -%>

<body>
  <%- include('shared/nav') -%>
  <div class='core-content'>
    <%- include('shared/header') -%>
    <div class='body-wrapper'>
      <div class='body-content'>
        <p>Employees: Count: <%= count %></p>
        <p>Employees: Create: <%= create %></p>
        <p>Employees: Update: <%= updated %></p>
        <p><strong>Get Employee:</strong> <%- JSON.stringify(getOne, null, 2) %></p>
      </div>
    </div>
  </div>
</body>

</html>