<!doctype html>
<html>
  <%- include('shared/head') -%>
  <body>
    <%- include('shared/nav') -%>
    <div class='core-content'>
      <%- include('shared/header') -%>
      <div class='body-wrapper'>
        <div class='body-content'>
          <p><strong>Created Employee:</strong> <%- JSON.stringify(createdEmployee, null, 2) %></p>
          <p><strong>Get Payroll Employees:</strong> <%- JSON.stringify(getEmployees, null, 2) %></p>
          <p><strong>Get Payroll Employees:</strong> <%- JSON.stringify(updateEmployee, null, 2) %></p>
        </div>
      </div>
    </div>
  </body>
</html>
