<!doctype html>
<html>
  <%- include('shared/head') -%>
  <body>
    <%- include('shared/nav') -%>
    <div class='core-content'>
      <%- include('shared/header') -%>
      <div class='body-wrapper'>
        <div class='body-content'>
          <p>Reports success: Count: <%= count %></p>
          <p>Bank Summary Title: <%= bankSummaryTitle %></p>
        </div>
      </div>
    </div>
  </body>
</html>
